<h1>Consultations</h1>
<table class="table">
  <caption>List of consultations</caption>
  <thead>
    <tr>
      <th scope="col">
        <%= link_to "#", admin_consultations_path(order: "id ASC"), class: "text-dark" %>
      </th>
      <th scope="col">
        <%= link_to "Name", admin_consultations_path(order: "name ASC"), class: "text-dark" %>
      </th>
      <th scope="col">
        <%= link_to "Type", admin_consultations_path(order: "consultation_type DESC"), class: "text-dark" %>
      </th>
      <th scope="col">
        Description
      </th>
      <th scope="col">
        <%= link_to "Archived?", admin_consultations_path(order: "state DESC"), class: "text-dark" %>
      </th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @consultations.each do |consultation| %>
      <tr>
        <th scope="row"><%= consultation.id %></th>
        <td><%= link_to consultation.name, consultation_path(consultation) %></td>
        <td><%= consultation.consultation_type %></td>
        <td><%= consultation.description %></td>
        <td><%= consultation.archived? %></td>
        <td>
          <% if consultation.active? %>
            <%= link_to "Archive", admin_archive_consultation_path(consultation), method: :put,
                                   class:"btn btn-outline-danger", data: { confirm: 'Are you sure you want to archive this consultation?' } %>
          <% else %>
            <%= link_to "Restore", admin_restore_consultation_path(consultation), method: :put,
                                   class:"btn btn-outline-primary" %>
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_consultation_path(consultation), class:"btn btn-primary" %>
        </td>
      </tr>
    <% end%>
  </tbody>
</table>
