<% if @consultation.errors.any? %>
  <ul>
  <% @consultation.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= bootstrap_form_with model: @consultation, local: true do |f| %>
  <%= f.text_field :name %><br>
  <%= f.select :consultation_type, Consultation.consultation_types.keys %><br>
  <%= f.text_field :description %><br>
  <%= f.submit %>
<% end %>
