<%= bootstrap_form_with(model: submission, url: [@consultation, submission], local: true) do |form| %>
  <%= render "shared/error_messages", resource: submission %>
  <p class="lead">Select one or more files to add new submissions.</p>
  <div class="row">
    <div class="col col-sm-4">
      <%= form.file_field :file, multiple: true, accept: Submission::SUBMISSION_FILE_TYPES.join(',') %>
    </div>
    <div class="col">
      <%= form.text_field :description %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Upload" %>
  </div>
<% end %>
