<div class="card" id="form-container">
  <div class="card-header d-flex justify-content-between align-items-center"
       id="headingOne"
       data-toggle="collapse"
       data-target="#upload-body"
       aria-expanded="false"
       aria-controls="upload-body">
    <%= render partial: 'shared/plus.svg' %>
    <h5 class="mb-0">
      Add new submissions
    </h5>
    <div class="css-chevron"></div>
  </div>
  <div id="upload-body" class="collapse"
       aria-labelledby="headingOne" data-parent="#form-container">
    <div class="card-body">
      <%= bootstrap_form_with(model: submission, url: [@consultation, submission], local: true) do |form| %>
        <%= render "shared/error_messages", resource: submission %>
        <div class="lead">
          <p>Select one or more files to add new submissions. Files should be either:</p>
          <ul>
            <li>CSVs in the same format as the export CSV (one submission per row)</li>
            <li>PDF, DOCX or TXT files (one submission per file)</li>
          </ul>
        </div>
        <div class="row">
          <div class="col col-sm-4">
            <%= form.file_field :file, multiple: true, accept: submission_upload_file_types %>
          </div>
          <div class="col">
            <%= form.text_field :description %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "Upload" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
