<li class="d-flex">
  <button type="button" class="submission-tag btn-block btn btn-light btn-sm m-1 py-2 text-left font-weight-bold collapsed tag--colour-<%= tag.colour_number %>"
          data-tag-id="<%= tag.id %>"
          data-tag-name="<%= tag.name %>"
          data-tag-colour="<%= tag.colour_number %>">
    <div>
      <span class="tag-number tag-number--colour-<%= tag.colour_number %>"><%= tag.full_number %></span>
      <%= tag.name %>
    </div>
  </button>
  <% if tag.children.any? %>
    <%= button_tag(class: "tag__new-button rounded-circle btn-outline-#{tag_colour} font-weight-bold m-2 px-2",
                  "data-toggle": "collapse",
                  "data-target": "#tag-group-#{tag.id}",
                  "aria-expanded": "false") do %>
      <div class="css-chevron"></div>
    <% end %>
  <% end %>
</li>

<% if tag.children.any? %>
  <ul id="tag-group-<%= tag.id %>"
      class="col list-unstyled collapse">
    <% tag.children.each do |tag| %>
      <%= render partial: "submission_tag", locals: { tag_colour: tag.colour_number, tag: tag } %>
    <% end %>
  </ul>
<% end %>
