<%= bootstrap_form_with(model: @submission, url: @submission, local: true) do |form| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this @submission from being saved:</h2>

      <ul>
        <% @submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Process submission</h2>
  <section>
    <div class="row">
      <div class="col col-3">
        <h3>Metadata</h3>
        <div class="pb-4">
          <label>Original file</label>
          <%= link_to @submission.file.filename, rails_blob_path(@submission.file, disposition: 'attachment') %>
        </div>
        <%= form.text_field :description %>
        <%= form.datetime_field :submitted_at %>
        <%= form.select :submitter_type, Submission::SUBMITTER_TYPES, include_blank: true %>
        <%= form.text_field :channel %>
        <%= form.text_field :source %>
        <%= form.text_field :query_type %>
        <%= form.check_box :high_impact_stakeholder %>
        <%= form.check_box :high_relevance_stakeholder %>
        <%= form.check_box :exemplar %>
        <%= form.check_box :maori_perspective %>
        <%= form.check_box :pacific_perspective %>
        <%= form.text_field :name %>
        <%= form.text_field :age_bracket %>
        <%= form.text_field :gender %>
        <%= form.text_field :ethnicity %>
        <%= form.text_field :email_address %>
        <%= form.text_field :phone_number %>
        <%= form.text_field :address %>
      </div>
      <div class="col">
        <h3>Text</h3>
        <% if @submission.can_process? %>
          <%= form.text_area :text, class: 'tall-textarea' %>
        <% else %>
          <div class="tall-scrolling-area">
            <%= simple_format(@submission.text) %>
          </div>
        <% end %>
      </div>
    </div>
  </section>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
