<h1>Submissions</h1>
<section class="pb-4">
  <%= render 'form', submission: Submission.new %>
</section>
<section class="pb-4">
  <h2>Select a submission</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Description</th>
        <th>State</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= link_to submission.filename, submission %></td>
          <td><%= submission.description %></td>
          <td>
            <%= submission.state %>
            <%= "â¸" unless submission.file.analyzed? %>
          </td>
          <td class="text-right">
            <%= render partial: 'actions', locals: { submission: submission } %>
            <%= link_to 'Delete', [@consultation, submission], method: :delete, class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
