<h1>Submissions</h1>
<section class="pb-4">
  <%= render 'form', submission: Submission.new %>
</section>
<section class="pb-4">
  <h2>Select a submission</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Filename</th>
        <th>Description</th>
        <th>State</th>
        <th class="text-right">Actions</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= link_to submission.id, submission %></td>
          <td><%= link_to submission.filename, submission %></td>
          <td><%= submission.description %></td>
          <td>
            <p><%= t("submission.state.#{submission.state}") %></p>
            <% unless submission.incoming? || submission.ready? %>
              <p class="small"><%= pluralize(submission.submission_tags.count, 'tag') %></p>
            <% end %>
          </td>
          <td class="text-right">
            <p><%= render partial: 'edit_actions', locals: { submission: submission } %></p>
            <p><%= render partial: 'state_actions', locals: { submission: submission } %></p>
          </td>
          <td>
          </td>
          <td>
            <% if submission.can_delete? %>
              <%= link_to 'x', [@consultation, submission], method: :delete, class: 'text-danger',
              data: { confirm: 'Are you sure you want to delete this submission?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
