<div class="row">
  <div class="col">
    <%= link_to 'Back', consultation_submissions_path(@submission.consultation) %>
  </div>
  <div class="col text-right">
    <%= render partial: 'edit_actions', locals: { submission: @submission } %>
    <%= render partial: 'state_actions', locals: { submission: @submission } %>
  </div>
</div>
<h2>Submission <%= @submission.id %></h2>
<div class="row">
  <div class="col col-3">
    <h3>Metadata</h3>
    <dl>
      <% Submission::METADATA_FIELDS.each do |field| %>
        <% if @submission.send(field).present? %>
          <dt><%= t(field) %></dt>
          <dd><%= @submission.send(field) %></dd>
        <% end %>
      <% end %>
    </dl>
    <dl>
      <dt>Filename</dt>
      <dd><%= @submission.file.filename %></dd>
      <dd><%= link_to "Download", rails_blob_path(@submission.file, disposition: 'attachment') %></dd>
    </dl>
    <% if @submission.file.previewable? %>
      <%= image_tag @submission.file.preview(resize_to_limit:[200, 1200]), alt: 'Preview of file' %>
    <% end %>
    <% if @submission.submission_tags.any? %>
      <section>
        <h3>Tags</h3>
        <% @submission.submission_tags.order(:start_char).each do |st| %>
        <%= render partial: 'tag_with_text', locals: { submission_tag: st } %>
        <% end %>
      </section>
    <% end %>
  </div>
  <div class="col">
    <div>
      <% if @submission.text.present? %>
        <h3>Submission text</h3>
        <section class="submission__taggable-text">
          <div class="js-tagged-submission"><%= @marked_up_text.html_safe %></div>
        </section>
      <% else %>
        <h4>Raw text</h4>
        <% if @submission.can_process? %>
          <%= link_to('Edit', edit_submission_path(@submission), class: 'btn btn-primary') %>
        <% end %>
        <% if @submission.file.analyzed? %>
          <%= simple_format(@submission.raw_text) %>
        <% else %>
          <p>This submission hasn't been converted to text yet - check back later</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
