<div class="row">
  <div class="col mb-3">
    <%= render partial: "submission_navigation", locals: {
      first_url: submission_path(@submission.first(%w[incoming ready started finished])),
      prev_url: @submission.prev(%w[incoming ready started finished]) ? submission_path(@submission.prev(%w[incoming ready started finished])) : "#",
      next_url: @submission.next(%w[incoming ready started finished]) ? submission_path(@submission.next(%w[incoming ready started finished])) : "#",
      last_url: submission_path(@submission.last(%w[incoming ready started finished])),
      has_prev: @submission.prev(%w[incoming ready started finished]),
      has_next: @submission.next(%w[incoming ready started finished]),
      submission_id: @submission.id
    } %>
    </div>
  </div>
<div class="row">
  <div class="col text-center">
    <%= render partial: 'edit_actions', locals: { submission: @submission } %>
    <%= render partial: 'state_actions', locals: { submission: @submission } %>
    <%= link_to 'Back to submissions', consultation_submissions_path(@submission.consultation), class: "btn btn-sm btn-outline-secondary"%>
  </div>
</div>
<h2>Submission <%= @submission.id %></h2>
<div class="row">
  <div class="col col-3">
    <h3>Metadata</h3>
    <dl>
      <% Submission::METADATA_FIELDS.each do |field| %>
        <% if @submission.send(field).present? %>
          <dt><%= t(field) %></dt>
          <dd><%= @submission.send(field) %></dd>
        <% end %>
      <% end %>
    </dl>
    <% if @submission.file.attached? %>
      <dl>
        <dt>Filename</dt>
        <dd><%= @submission.file.filename %></dd>
        <dd><%= link_to "Download", rails_blob_path(@submission.file, disposition: 'attachment') %></dd>
      </dl>
      <% if @submission.file.previewable? %>
        <%= image_tag @submission.file.preview(resize_to_limit:[200, 1200]), alt: 'Preview of file' %>
      <% end %>
    <% end %>
    <% if @submission.survey&.original_file&.attached? %>
      <dl>
        <dt>Filename (Survey)</dt>
        <dd><%= @submission.survey.original_file.filename %></dd>
        <dd><%= link_to "Download", rails_blob_path(@submission.survey.original_file, disposition: 'attachment') %></dd>
      </dl>
      <% if @submission.survey.original_file.previewable? %>
        <%= image_tag @submission.survey.original_file.preview(resize_to_limit:[200, 1200]), alt: 'Preview of file' %>
      <% end %>
    <% end %>
    <% if @submission.submission_tags.any? %>
      <section>
        <h3>Tags</h3>
        <% @submission.submission_tags.order(:start_char).each do |st| %>
        <%= render partial: 'tag_with_text', locals: { submission_tag: st } %>
        <% end %>
      </section>
    <% end %>
    <% if @submission.survey_answers.any? %>
      <section>
        <h3>Tags</h3>
        <% @submission.survey_answers.each do |survey_answer| %>
          <% survey_answer.submission_tags.order(:start_char).each do |st| %>
          <%= render partial: 'tag_with_text', locals: { submission_tag: st } %>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </div>
  <div class="col">
    <div>
      <% if @submission.survey_answers.any? %>
        <h3>Submission text</h3>
        <% @submission.survey_answers.each do |survey_answer| %>
          <%= render partial: 'survey_answer', locals: { survey_answer: survey_answer } %>
        <% end %>
      <% else %>
        <% if @submission.text.present? %>
        <h3>Submission text</h3>
          <section class="submission__taggable-text">
            <div class="js-tagged-submission"><%= @marked_up_text.html_safe %></div>
          </section>
        <% else %>
          <h4>Raw text</h4>
          <% if @submission.can_process? %>
            <%= link_to('Edit', edit_submission_path(@submission), class: 'btn btn-primary') %>
          <% end %>
          <% if @submission.file.analyzed? %>
            <%= simple_format(@submission.raw_text) %>
          <% else %>
            <p>This submission hasn't been converted to text yet - check back later</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
