<% content_for :container_modifier, "-fluid" %>
<h2>Tagging submission <%= @submission.id %>: <%= link_to(@submission.filename, @submission) %></h2>
<div class="row submission">
  <section class="col-3">
    <h4 class="mb-4">Submission Metadata</h4>
  </section>

  <section class="col-6">
    <h4 class="mb-4"><%= @submission.name %></h4>
    <div class="submission__taggable-text shadow p-3 js-taggable-submission-text"
         data-submission-id="<%= @submission.id %>"
         data-submission-text="<%= @submission.text %>">
     <div class="js-tagged-submission" id="jsSubmissionText"><%= @marked_up_text.html_safe %></div>
    </div>
  </section>

  <section class="col-3 submission-taxonomy">
    <h4 class="mb-4">Consultation Taxonomy</h4>
    <div id="error_explanation"></div>
    <div class="submission-taxonomy__list-container">
      <ul class="list-group list-unstyled submission-taxonomy__list">
        <% @consultation.taxonomy.tags.top_level.each do |tag| %>
        <%= render partial: "submission_tag", locals: { tag: tag, tag_colour: tag.colour_number } %>
        <% end %>
      </ul>
    </div>
  </section>
</div>
