<% content_for :container_modifier, "-fluid" %>
<div class="row submission">
  <section class="col-3 selected-tags">
    <div class="selected-tags__list-container p-2 d-none js-submission-tag-container">
      <ul id="tag_removal_error_explanation" class="d-none pl-5 mb-3 alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </ul>
      <p class="font-weight-bold">Tags attached to:</p>
      <blockquote id="js-selected-tag-text" class="selected-tag__text"></blockquote>
      <div class="js-selected-tags-container"></div>
    </div>
  </section>

  <section class="col-6 offset-3">
    <%= render partial: "submission_navigation", locals: {
      first_url: consultation_submission_tag_path(@submission.consultation, @submission.first)
      next_url: consultation_submission_tag_path(@submission.consultation, @submission.prev)
      next_url: consultation_submission_tag_path(@submission.consultation, @submission.next)
      last_url: consultation_submission_tag_path(@submission.consultation, @submission.last)
      submission: @submission
      } %>
    <h4 class="mb-4"><%= @submission.name %></h4>
    <% if @submission.survey_answers.any? %>
      <% @submission.survey_answers.each do |survey_answer| %>
        <%= render partial: 'survey_answer_tag', locals: { survey_answer: survey_answer } %>
      <% end %>
    <% else %>
      <div class="submission__taggable-text shadow p-3 js-taggable-submission-text"
           data-submission-id="<%= @submission.id %>"
           data-submission-text="<%= @submission.text %>">
       <div class="js-tagged-submission" id="jsSubmissionText"><%= @marked_up_text.html_safe %></div>
      </div>
    <% end %>
  </section>

  <section class="col-3 submission-taxonomy">
    <p class="lead">Select text in the submission then click on a tag to attach it.</p>
    <div id="tag_error_explanation"></div>
    <div class="submission-taxonomy__list-container">
      <ul class="list-group list-unstyled submission-taxonomy__list">
        <% @consultation.taxonomy.tags.top_level.number_order.each do |tag| %>
        <%= render partial: "submission_tag", locals: { tag: tag, tag_colour: tag.colour_number } %>
        <% end %>
      </ul>
    </div>
  </section>
</div>
