<%= bootstrap_form_with(model: Tag.new, url: [taxonomy, Tag.new], local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :parent_id, value: tag.id, id: "tag_parent_id_#{tag.id}" %>

  <div class="row">
    <div class="field p-1">
      <%= form.text_field :name, hide_label: true, placeholder: "Add a tag",
                                 id: "tag_name_#{tag.id}" %>
    </div>

    <div class="actions p-1">
      <%= form.submit "✔", class:"btn btn-light border-secondary", "aria-label":"Create tag" %>
    </div>
  </div>
<% end %>
