<%= bootstrap_form_with(model: tag, url: [taxonomy, tag], local: true) do |form| %>
  <%= render "shared/error_messages", resource: tag %>

  <%= form.hidden_field :parent_id, value: tag.parent_id, id: "tag_parent_id_#{tag.parent_id}" %>

  <div class="row ml-0 mt-3">
    <div class="field">
      <%= form.text_field :name, hide_label: true, placeholder: "Add a tag",
                                 id: "tag_name_#{tag.parent_id}" %>
    </div>

    <div class="actions pl-2">
      <%= form.submit "✔", class:"btn btn-light border-secondary", "aria-label":"Create tag" %>
    </div>
  </div>
<% end %>
