<div class="col-sm-3 m-1 p-0 card">
<button type="button" class="tag btn btn-light btn-sm m-1 py-2 text-left font-weight-bold
                             collapsed tag__colour--<%= tag_colour %>" data-toggle="button">
  <span class="d-flex justify-content-between" data-toggle="collapse" data-target="#tag-group-<%= tag.id %>">
    <%= tag.name %>
    <%= link_to 'x', [tag.taxonomy, tag], method: :delete, data: { confirm: 'Are you sure you want to delete this tag?' } %>
  </span>
</button>
</div>

<% if tag.children.any? %>
  <section id="tag-group-<%= tag.id %>" class="col collapse">
    <% tag.children.each do |tag| %>
      <div class="row align-items-start">
        <%= render partial: tag, locals: {tag_colour: tag_colour} %>
      </div>
    <% end %>
    <div class="row">
      <%= button_tag "+", class: "tag__new-button row rounded-circle btn-outline-#{tag_colour} font-weight-bold m-1 px-2", "data-toggle":"collapse", "data-target":"#new-tag-form-#{tag.id}"%>
    </div>
    <div id="new-tag-form-<%= tag.id %>" class="row p-2 collapse">
      <%= render partial: "tags/form", locals: {tag: tag, taxonomy: tag.taxonomy} %>
    </div>
  </section>
<% else %>
  <%= button_tag "+", class: "tag__new-button rounded-circle btn-outline-#{tag_colour} font-weight-bold m-1 px-2", "data-toggle":"collapse", "data-target":"#new-tag-form-#{tag.id}"%>
  <div id="new-tag-form-<%= tag.id %>" class="row ml-3 collapse">
    <%= render partial: "tags/form", locals: {tag: tag, taxonomy: tag.taxonomy} %>
  </div>
<% end %>
